@font-face{
    font-family:'VazirLight';
    src:url("../fonts/vazir/Vazir-Light-FD.eot");
    src:url("../fonts/vazir/Vazir-Light-FD.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir/Vazir-Light-FD.woff") format("woff"),
    url("../fonts/vazir/Vazir-Light-FD.ttf") format("ttf"),
    url("../fonts/vazir/Vazir-Light-FD.svg") format("svg")}
@font-face{
    font-family:'VazirBold';
    src:url("../fonts/vazir/Vazir-Bold-FD.eot");
    src:url("../fonts/vazir/Vazir-Bold-FD.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir/Vazir-Bold-FD.woff") format("woff"),
    url("../fonts/vazir/Vazir-Bold-FD.ttf") format("ttf"),
    url("../fonts/vazir/Vazir-Bold-FD.svg") format("svg")}
@font-face{
    font-family:'VazirThin';
    src:url("../fonts/vazir/Vazir-Thin-FD.eot");
    src:url("../fonts/vazir/Vazir-Thin-FD.eot?#iefix") format("embedded-opentype"),
    url("../fonts/vazir/Vazir-Thin-FD.woff") format("woff"),
    url("../fonts/vazir/Vazir-Thin-FD.ttf") format("ttf"),
    url("../fonts/vazir/Vazir-Thin-FD.svg") format("svg")}
  html,body {
      direction: rtl;
      font-family: VazirThin;
  }
  .navMenuTop {
      padding: 1px 2px !important;
      margin-left: 30px;
  }
  .navMenuTop ul {
      margin-bottom: 0 !important;
      width: 100%;
  }
  .navMenuTop ul li {
      display: inline-block;
      margin: 10px 0 10px 10px;
      font-size: 11px;
      color: #444444;
      padding: 4px 8px 3px;
      font-family: VazirThin;
      border-radius: 20px;
      border: 1px solid #037e8c46;
    }
.exit {
    border: 1px solid #FF4E50 !important;
    background: rgba(255, 78, 81, 0.37);
    color: #ffffff !important;
    font-weight: 900 !important;
}
  .backgroundHeader {
      height: 150px;
      width: 100%;
      background: rgba(244, 244, 242, 0.329) ;
  }
  .title {
      font-family: VazirBold;
      padding: 40px 40px 20px;
  }
  .title span {
      padding: 4px 10px;
      border-radius: 16px;
      color: #037e8c;
      font-size: 30px;
  }
  .description {
      font-family: VazirThin;
      padding: 0 50px;
  }
  .description span {
      border-top: 1px solid #a8a8a8;
      padding-top: 8px;
      font-size: 13px;
  }
  .sidebarRight {
      position: absolute;
      top:0;
      right: 50px;
      bottom: 0;
      background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
      height: 100%;
      z-index: 1;
      width: 240px;
      box-shadow: 0 0 10px 10px #0000001c;
  }
  .logo {
      margin-top: 20px;
  }
  .logo img {
      width: 160px;
  }
  .underHeader ul li{
      display: inline-block;
      font-family: IranianSansWeb;
      font-size: 11px;
      margin-right: 5px;
      padding: 2px 4px;
      border-radius: 3px;
      color: #ffffff;
  }
  .menuSidebar {
      margin-top: 60px;
      font-size: 13px;
      color: #ffffff;      
  }
  .menuSidebar ul {
      text-align: right;
      margin: 0 10px;
      padding-right: 0;
  }
  .menuSidebar ul li {
      list-style: none;
      background: rgba(225,225,255 ,.3);
      padding-left: 6px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 6px;
      margin-bottom: 6px;
  }
  .menuSidebar ul li:hover {
    list-style: none;
    background-image: radial-gradient(circle 248px at center, #16d9e362 0%, #30c6ec67 47%rgba(70, 173, 247, 0.596)f7 100%);
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 6px;
    margin-bottom: 6px;
}
  .main {
      font-size: 12px;
      margin-left: 30px;
      padding-top: 30px;
  }