# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: mkarimi21
          template: classic
          base: ""
          config_timezone: Asia/Tehran
          plugin_notable: yes
          plugin_notable_from: organization
          plugin_tweets: yes
          plugin_tweets_limit: 2
          plugin_tweets_user: mkarimi21
